@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>JAStudio</title>
    <link rel="stylesheet" href="/css/vocab-card.css" />
    <link rel="stylesheet" href="/css/kanji-card.css" />
    <link rel="stylesheet" href="/css/sentence-card.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="/_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="/js/card.js"></script>
</body>
</html>
