/mpv.exe
__pycache__/
/src/MagnusAddon/_lib/jamdict_data/jamdict.db
/src/MagnusAddonTests/collection.anki2.bak
collection.anki2
/src/MagnusAddon/_lib/
!/src/MagnusAddon/_lib/__init__.py
/src/MagnusAddon/user_files/logs/MagnusAddon.log
/src/MagnusAddon/card_history.json
/src/web/obj/
/src/web/collection.media/*.css
/src/web/collection.media/*.css.map
/src/MagnusAddon/user_files/card_history.json
/src/MagnusAddon/meta.json
