/mpv.exe
__pycache__/
/src/jastudio_src/_lib/jamdict_data/jamdict.db
/src/tests/collection.anki2.bak
collection.anki2
/src/jastudio_src/_lib/
!/src/jastudio_src/_lib/__init__.py
/src/jastudio_src/user_files/logs/MagnusAddon.log
/src/jastudio_src/card_history.json
/src/web/obj/
/src/web/collection.media/*.css
/src/web/collection.media/*.css.map
/src/jastudio_src/user_files/card_history.json
/src/jastudio_src/meta.json
/src/jastudio_src/user_files/logs/MagnusAddon.log*
/profile_output.txt
*.py.pclprof
*.lprof
/repomix-output.xml
/repomix-queryable-collections.xml
/.coverage
*.speedscope.json
bin
obj
/src/jastudio_src/jastudio/user_files/logs/*
card_history.json
*.ncrunchsolution.user
*.DotSettings.user
