aqt==25.5b2
anki==25.5b2
PyQt6-WebEngine==6.9.0
PyQt6==6.9.0
wanikani-api==0.6.1

jamdict==0.1a11.post2
#jamdict-data==1.
Janome==0.5.0
pipdeptree
#puchikarui==0.2a2.post5
requests==2.32.3
pytest
pytest-xdist
mypy
beartype
pyperclip
typing_extensions
PyQt6-sip
pykakasi~=2.3.0
python-romkan-ng
ruff
ruff-lsp