aqt==25.2
anki==25.2
PyQt6-WebEngine==6.7.0
PyQt6==6.7.1
wanikani-api==0.6.1

unidic==1.1.0
unidic2ud==3.0.4
jamdict==0.1a11.post2
#jamdict-data==1.5
Janome==0.5.0
pipdeptree==2.13.0
puchikarui==0.2a2.post5
pytest==7.4.2
spacy==3.6.1
requests==2.32.3
ginza==5.1.3
ja-ginza==5.1.3
pytest
pytest-xdist
mypy==1.11.2
beartype
pyperclip
sudachipy