aqt==25.9
anki==25.9

#Latest versions seem to crash in interesting ways. If Anki does not run, make sure to use exactly these versions
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
PyQt6-WebEngine==6.9.0
PyQt6-WebEngine-Qt6==6.9.1
#PyQt6-WebEngineSubwheel-Qt6==6.7.3

wanikani-api==0.6.1
jamdict==0.1a11.post2
#jamdict-data==1.
jamdict-data-fix==1.5.1a2
Janome==0.5.0
pipdeptree
puchikarui==0.2a2.post5
requests==2.32.5
types-requests
pytest~=8.4.2
pytest-xdist
mypy
beartype~=0.21.0
pyperclip~=1.9.0
typing_extensions
PyQt6-sip
pykakasi~=2.3.0
python-romkan-ng
ruff
deepdiff~=8.6.1
typing_extensions~=4.15.0
autoslot~=2024.12.1
basedpyright # used via the basedpyright-wrapper.bat since it messes up source navigation in the IDE and because the IDE only reports some errors on code insection. To get all errors the command line is needed
pyright # used in the IDE since basedpyright messes up source navigation