<div id="container1">
   <div id="container2">
      <!--######-->

      <div class="mainContent">
         <div class="front-and-answer">
            <div>
               {{#Q}}
               <div class="radical_heading">
                  <span class="clipboard">{{Q}}</span>
                  {{#Similar_Radicals}} !{{Similar_Radicals}} {{/Similar_Radicals}}
               </div>
               {{/Q}}
               {{^Q}}
               <div class="radical_heading radical_heading_svg">
                  <div>
                     <div>{{Radical_Icon}}</div>
                     <div>{{#Similar_Radicals}} !{{Similar_Radicals}} {{/Similar_Radicals}}</div>
                  </div>
               </div>
               {{/Q}}
            </div>

         </div>
         <div class="bottomSection">
            {{#__mnemonic}}
            <div class="mnemonics user">
               <div class="text">{{__mnemonic}}</div>
            </div>
            {{/__mnemonic}}
            {{^__mnemonic}}
            <div class="mnemonics">
               <div>
                  <span class="text">{{Radical_Meaning}}</span>
               </div>
            </div>
            {{/__mnemonic}}
         </div>
		
				 ##KANJI_LIST##

      </div>
      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>