<div id="container1">
   <div id="container2">
      <!--######-->

      <div class="front-and-answer">
         <div class="question">{{Q}}</div>
      </div>

      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>