<div id="container1">
   <div id="container2" class="{{Tags}} card{{Card}}">
      <!--######-->
      <div class="expression">{{Q}}</div>
      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>