@page "/card/kanji/{Side}"
@using JAStudio.Core.Note
@using JAStudio.Core.Note.Collection

@if(_note != null)
{
    <div class="card">
    <div id="container1">
    <div id="container2">
    <div class="mainContent">
        <KanjiCardHeader Note="_note" />
        <KanjiReadings Note="_note" />
        <KanjiDependencies Note="_note" />
        <KanjiVocabList Note="_note" />
        <KanjiList Note="_note" />
    </div>
    </div>
    </div>
    </div>
}
else
{
    <p>Note not found (ID: @NoteId)</p>
}

@code {
    [Parameter] public string Side { get; set; } = "";
    [SupplyParameterFromQuery] public long? NoteId { get; set; }

    [Inject] public JPCollection Collection { get; set; } = null!;

    KanjiNote? _note;

    protected override void OnParametersSet()
    {
        if(NoteId is { } id)
        {
            _note = Collection.NoteFromExternalId(id) as KanjiNote;
        }
    }
}
