@use "sass:color";

$colorTextGreen: #57a64a;
$colorTextUnderline: #bbb1ff;
$colorTextBold: #f15034;
$colorTextWarningRed: red;
$colorTextMeaning: #ff72bc;
$colorTextItalic: #ff9d17;
$colorTextReading: $colorTextItalic;

$colorBgRad: #00a0f1;
$colorBgKan: #f100a0;
$colorBgVoc: #a100f1;
$colorBgRead: #cc7d12;
$colorTextReadingsSeparator: darkgrey;


html[data-bs-theme="dark"] {
  --colorBgCard: #282828;
  --colorBgOffset1: #1b1d1e;
  --colorBgOffset2: #1f2122;
  --colorBgOffset3: #202223;

  --colorTextCard: color-mix(in lch, white, black 10%);
  --colorHighlightText: var(--colorTextCard);
  
  --colorPageSectionBorder: color-mix(in lch, var(--colorBgCard), white 20%);
  --colorPageSectionTitle: color-mix(in lch, var(--colorTextCard), black 20%);

  --colorTextPriorityLow: darkgrey;
  --colorTextPriorityVeryLow: var(--colorTextPriorityLow);
  --colorTextPriorityMedium: color-mix(in lch, var(--colorTextReading), white 20%);
  --colorTextPriorityHigh: var(--colorTextPriorityMedium);

  --colorTextGreen: #{$colorTextGreen};
  --colorTextUnderline: #{$colorTextUnderline};
  --colorTextBold: #{$colorTextBold};
  --colorTextWarningRed: #{$colorTextWarningRed};
  --colorTextMeaning: #{$colorTextMeaning};
  --colorTextItalic: #{$colorTextItalic};
  --colorTextReading: #{$colorTextReading};
  --colorTextReadingsSeparator: #{$colorTextReadingsSeparator};

  --colorBgRad: #{$colorBgRad};
  --colorBgKan: #{$colorBgKan};
  --colorBgVoc: #{$colorBgVoc};
  --colorBgRead: #{$colorBgRead};
}

html[data-bs-theme="light"] {
  --colorBgCard: color-mix(in lch, #f3deb7, black 10%);
  --colorBgOffset1: color-mix(in lch, var(--colorBgCard), black 4%);
  --colorBgOffset2: color-mix(in lch, var(--colorBgCard), black 4%);
  --colorBgOffset3: color-mix(in lch, var(--colorBgCard), black 8%);
  
  --colorTextCard: color-mix(in lch, black, var(--colorBgCard) 30%);
  --colorHighlightText: var(--colorTextCard);

  --colorPageSectionBorder: color-mix(in lch, var(--colorBgCard), black 20%);
  --colorPageSectionTitle: color-mix(in lch, var(--colorTextCard), white 30%);

  --colorTextPriorityLow: color-mix(in lch, var(--colorTextCard), white 50%);
  --colorTextPriorityVeryLow: var(--colorTextPriorityLow);
  --colorTextPriorityMedium: color-mix(in lch, var(--colorTextReading), black 20%);
  --colorTextPriorityHigh: var(--colorTextPriorityMedium);

  --colorTextGreen: color-mix(in lch, #{$colorTextGreen}, black 10%);
  --colorTextUnderline: color-mix(in lch, #{$colorTextUnderline}, black 10%);
  --colorTextBold: color-mix(in lch, #{$colorTextBold}, black 20%);
  --colorTextWarningRed: color-mix(in lch, #{$colorTextWarningRed}, black 20%);
  --colorTextMeaning: color-mix(in lch, #{$colorTextMeaning}, black 30%);
  --colorTextItalic: color-mix(in lch, #{$colorTextItalic}, black 30%);
  --colorTextReading: color-mix(in lch, #{$colorTextReading}, black 30%);
  --colorTextReadingsSeparator: color-mix(in lch, #{$colorTextReadingsSeparator}, black 0%);

  --colorBgRad: color-mix(in lch, #{$colorBgRad}, white 30%);
  --colorBgKan: color-mix(in lch, #{$colorBgKan}, white 50%);
  --colorBgVoc: color-mix(in lch, #{$colorBgVoc}, white 50%);
  --colorBgRead: color-mix(in lch, #{$colorBgRead}, white 30%);
  
}
