<div id="container1">
   <div id="container2">
      <!--######-->


      <div>{{Audio}}</div>
      <div class="screenshot">{{Image}}</div>
      <div class="reading">{{Q}}</div>
      <div class="translation">{{A}}</div>
      <div class="comments">
         <div>{{Comments}}</div>
      </div>


      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>
