@using JAStudio.Core.Note.Vocabulary

@if(!string.IsNullOrEmpty(Note.User.Answer.Value))
{
    <div class="meaning user">@((MarkupString)Note.GetAnswer())</div>
} else
{
    <div class="meaning"> @((MarkupString)Note.SourceAnswer.Value)</div>
}

@code {
    [Parameter, EditorRequired] public VocabNote Note { get; set; } = null!;
}
