@using JAStudio.Core.Note
@using JAStudio.Core.Note.Vocabulary
@using JAStudio.Core.Note.Sentences

<a class="note-link" href="@CardUrl()" data-note-type="@NoteType" data-note-id="@Note.GetId()">@ChildContent</a>

@code {
    [Parameter, EditorRequired] public JPNote Note { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;

    string NoteType => Note switch
    {
        VocabNote => "vocab",
        KanjiNote => "kanji",
        SentenceNote => "sentence",
        _ => "vocab"
    };

    string CardUrl() => $"/card/{NoteType}/back?NoteId={Note.GetId()}";
}
