@using JAStudio.Core.Note.Sentences

<div class="bottomSection">
    @if(!string.IsNullOrEmpty(Note.User.Comments.Value))
    {
        <div class="user comments short page_section">
            <div class="page_section_title">user comments</div>
            @((MarkupString)Note.User.Comments.Value)
        </div>
    }
    @if(!string.IsNullOrEmpty(Note.SourceComments.Value))
    {
        <div class="comments page_section">
            <div class="page_section_title">source comments</div>
            @((MarkupString)Note.SourceComments.Value)
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public SentenceNote Note { get; set; } = null!;
}
