@using JAStudio.Core.Configuration

<span class="view_settings">
    <span class="view_settings_title">Settings:</span>
    @foreach(var toggle in Config.SentenceViewToggles.Where(t => t.Value))
    {
        <span class="toggle @toggle.Name" title="@toggle.Title">@GetAbbreviation(toggle.Name)</span>
    }
</span>

@code {
    [Parameter, EditorRequired] public JapaneseConfig Config { get; set; } = null!;

    static readonly Dictionary<string, string> Abbreviations = new()
    {
        { "show_sentence_breakdown_in_edit_mode", "EM" },
        { "show_kanji_in_sentence_breakdown", "SK" },
        { "show_compound_parts_in_sentence_breakdown", "SCP" },
        { "show_kanji_mnemonics_in_sentence_breakdown", "SKM" },
        { "automatically_yield_last_token_in_suru_verb_compounds_to_overlapping_compound", "YSV" },
        { "automatically_yield_last_token_in_passive_verb_compounds_to_overlapping_compound", "YPV" },
        { "automatically_yield_last_token_in_causative_verb_compounds_to_overlapping_compound", "YCV" },
        { "hide_compositionally_transparent_compounds", "HCTC" },
        { "hide_all_compounds", "HAC" }
    };

    static string GetAbbreviation(string toggle) =>
        Abbreviations.TryGetValue(toggle, out var abbr) ? abbr : $"MISSING_ABBREVIATION:{toggle}";
}
