html, body { height: 100%; margin: 0; }
body { background: var(--colorBgCard); }
ul, ol { margin-block-end: 0; margin-block-start: 0; padding-inline-start: 0; }
a { color: #1d4ed8; }

a.note-link {
   color: inherit;
   text-decoration: none;
   cursor: pointer;

   &:hover {
      background: var(--colorBgOffset1);
      border-radius: 3px;
   }
}