<div id="container1">
   <div id="container2">
      <!--######-->

      <div class="mainContent">
         <div class="front-and-answer">
            <div>
               <div class="kanji">::::::::::<span class="clipboard">{{Q}}</span>::::::::::</div>
            </div>
         </div>
      </div>

      <!--######-->
   </div>
</div>

<script src="__magnus_js.js"></script>

